<div class="hosts-content p-3">
  <div class="host">
    <div class="host-inner">
     <div class="row align-items-center">
       <div><img src="assets/images/profile/profile.jfif" alt="Profile image" class="profile-img m-2"></div>
    <div class="tag-title p-1 align-self-center">Nombre de usuario</div>
    <p class="m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
   </div><!-- .host-inner -->
</div><!-- .host -->
</div><!-- .host-content -->

<div class="dropdown-divider-dark"></div>
<div class="hosts-content p-2">
  <div class="host">
    <div class="host-inner row justify-content-center">
      <button type="button" class="btn btn-inv-warning"  href="#"><i class="fas fa-upload"></i> Agregar</button>
      <button type="button" class="btn btn-inv-warning"  href="#"><i class="fas fa-user"></i> Perfil</button>                    
   </div>
</div>
</div>