<div class="row justify-content-center mx-0">
    <div class="login-box borde">
      <div class="row justify-content-center mb-2">
        <img class="avatar mt-n5" src="../../../assets/img/signup/logo1.png" alt="logo Noisy">
      </div>
      <h2 class="text-center">Registrate para grabar y escuchar los mejores podcast</h2><br>
      <form>
        <div class="group">
          <input type="email" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label placeholder="correo">Correo electronico</label>
        </div>

        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label placeholder="Nombre">Nombre completo</label>
        </div>

        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label placeholder="Nombre Usuario">Nombre de usuario</label>
        </div>

        <div class="group">
          <input type="password" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label placeholder="Contraseña">Contraseña</label>
        </div>

        <input type="submit" value="Registrarte" style="font-family: monospace;">
        <br>
        <p>Al registrarte, aceptas nuestras <a href="#">Condiciones</a>, la <a href="#">Politica de datos</a> y la <a
            href="#"> Politica de cookies</a></p>
      </form>
    </div>
</div>