<div class="container-100">
    <div class="audio-player" (click)= 'play()'>
      <div class="timeline">
        <div class="progress"></div>
      </div>
      <div class="controls">
        <div class="divider"></div>
        <div class="play-container">
          <div class="toggle-play play">
          </div>
        </div>
        <div class="divider"></div>
        <div class="time">
          <div class="current">0:00</div>
          <div class="divider">/</div>
          <div class="length"></div>
        </div>
        <div class="divider"></div>
        <div class="name">Noisy player</div>
        <div class="divider"></div>
        <div class="volume-container">
          <div class="volume-button">
            <div class="volume icono-volumeHigh"></div>
          </div>
          <div class="volume-slider">
            <div class="volume-percentage"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  