<div class="hosts-content">
  <div class="host">
    <div class="host-inner">
      <!-- MEDIA PLAYER -->

      <div class="media-card p-4">
        <div class="row justify-content-between px-3">
          <div class="row">
            <div>
              <img
                class="avatar mx-4 rounded-circle"
                src="../../../assets/img/podcast/8d619a4d92937aecb8027b21_rw_1920.jpg"
                alt="user2"
                height="40"
                width="40"
              />
            </div>
            <div class="media-title">
              <h2>Usuario 3</h2>
            </div>
          </div>
          <div class="">
            <button type="button" class="btn btn-inv-warning" href="#">
              <i class="fas fa-check"></i> Siguiendo
            </button>
          </div>
        </div>
        <div class="dropdown-divider-dark"></div>
        <br />
        <div class="row my-1">
          <div
            class="col-4 col-md-3 d-flex justify-content-center align-items-center"
          >
            <div class="media-player d-flex justify-content-center">
              <div class="media-play align-self-center ml-1"></div>
            </div>
          </div>
          <div class="col-8 col-md-9">
            <div class="media-title">
              <h2>Post</h2>
            </div>
            <div class="media-info">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor
              sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam
            </div>
          </div>
        </div>
        <br />
        <div class="dropdown-divider-dark"></div>
        <div class="row justify-content-between">
          <div class="row justify-content-start px-3">
            <button type="button" class="btn btn-tag-sm2 disabled" href="#">
              <i class="fas fa-tags"></i> Tags:
            </button>
            <button type="button" class="btn btn-tag-sm" href="#">Tag1</button>
            <button type="button" class="btn btn-tag-sm" href="#">Tag2</button>
          </div>
          <div class="row justify-content-end px-3">
            <button type="button" class="btn btn-inv-warning" href="#">
              <i class="fas fa-heart"></i> Me Gusta
            </button>
            <button type="button" class="btn btn-inv-warning" href="#">
              <i class="fas fa-donate"></i> Contribuir
            </button>
            <button type="button" class="btn btn-inv-warning" href="#">
              <i class="fas fa-comment"></i> Comentar
            </button>
            <button type="button" class="btn btn-inv-warning" href="#">
              <i class="fas fa-share-alt"></i> Compartir
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- .host-inner -->
  </div>
  <!-- .host   -->
</div>

<!-- .host-content-->
<br />
<div class="dropdown-divider"><br /></div>
<br />
