<div class="ht">
  <div class="row justify-content-center mx-0">
    <div class="login-box">
      <div class="row justify-content-center mb-2">
        <img
          class="avatar mt-n5"
          src="../../../assets/img/logo1.png"
          alt="logo Noisy"
        />
      </div>
      <h1>Iniciar sesion</h1>
      <form>
        <div class="group">
          <input type="text" required />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Nombre de usuario</label>
        </div>

        <div class="group">
          <input type="password" required />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Contraseña</label>
        </div>

        <input type="submit" value="Ingresar" />

        <a href="#">¿Olvidaste tu contraseña?</a> <br />
        <a routerLink="signup">¿No tienes una cuenta?</a>
      </form>
    </div>
  </div>
</div>
