<div class="row mx-0 my-2 navbar navbar-expand-lg navbar-light bg-black">
    <div class="row mx-4">
        <img class="avatar align-self-center mr-3" src="../../assets/img/logo.png" alt="logo Noisy" height="40"
        width="40">
        <a class="navbar-brand text-white" routerLink='home'>NOISY</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active mx-4">
            <a type="button" class="btn btn-outline-warning" routerLink='home'>Inicio</a>
        </li>
        <!--
        <li class="nav-item active mx-4">
            <a type="button" class="btn btn-outline-warning" routerLink='podcast'>Podcasts</a>
        </li>
        <li class="nav-item active mx-4">
            <a type="button" class="btn btn-outline-warning" routerLink='profile'>Perfil</a>
        </li>
    -->
        </ul>
        <!--
        <div class="header_search">
        <form action="#">
            <input type="text" placeholder="Busca por tag, artista...">
            <button type="submit">
            <i class="fa fa-search">
            </i>
            </button>
        </form>
        </div>
    -->
        <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a type="button" class="btn btn-warning mx-4" routerLink="login">Log in</a>
            </li>
    
        </ul>
        </div>
    </div>
    </div>